body {
    background-color: aqua;
    text-align: center;
}

h1 {
    text-align: left;
    margin: 10px;
    padding: 1rem;
}

header {
    border-style: double;
    background-color: rgb(74, 180, 31);
    box-flex: var(10px);
}

.HOME {
    color: rgb(231, 26, 170);
}
